::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: rgba(255, 11, 255, 0.2); */
  background: #434343;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.todo__wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.todo__left__pannel
{
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  border-right: 2px solid #1e1e1e;
}

.todo__center__pannel
{
  width: 70vw;
  height: 100vh;
}

.todo__right__pannel
{
  width: 30vw;
  height: 100vh;
}

.todo__user__pannel
{
  display: flex;
  flex-direction: row;
}

.todo__projects__title
{
  display: flex;
  justify-content: space-between;
}

.todo__scroll
{
  margin-top: 10px;
  overflow: auto;
}

.todo__center__wrap
{
  padding: 20px;
}

.todo__center__title
{
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.title__job
{
  margin-top: 5px;
  opacity: 0.5;
}

.stats__wrap
{
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.stats__day
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-right: 30px;
}

.stats__day > h2
{
  opacity: 0.5;
}

.stats__day > h3
{
  opacity: 0.5;
}

.task
{
  margin: 25px 10px;
  width: 90%;
  height: 80px;
  border-radius: 15px;
  box-shadow: 0px 1px 10px 2px rgba(81, 81, 81, 0.12);
}

.task__scroll
{
  min-height: 90px;
  max-height: 60vh;
  overflow: auto;
}

.task__content__wrap
{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  height: 100%;
  margin: 15px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.task__content
{
  margin-left: 15px;
}

.task__low__priority
{
  color: #73d13d;
}

.task__medium__priority
{
  color: #e8b339;
}

.task__high__priority
{
  color: #d32029;
}

.task__addinput
{
  margin-top: 35px;
}

.projects__list
{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #cecece;
}

.project__name
{
  transition: linear 0.2s;
  padding: 10px 0px;
  cursor: pointer;
}

.project__name:hover
{
  color: #6abe39;
}

.project__name__selected
{
  color: #6abe39;
}

.project__item
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}

.empty__center
{
  display: flex;
  align-items: center;
}
